[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule "kitty"]
	path = kitty
	url = https://github.com/dracula/kitty.git
[submodule "rofi/rofi-themes"]
	path = rofi/rofi-themes
	url = https://github.com/davatorium/rofi-themes.git
[submodule "scripts/gitignore"]
	path = scripts/gitignore
	url = https://github.com/github/gitignore
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt
[submodule "scripts/reference"]
	path = scripts/reference
	url = https://github.com/Randy8080/reference
[submodule "zsh_plugins/zsh-autosuggestions"]
	path = zsh_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh_plugins/fzf-zsh-plugin"]
	path = zsh_plugins/fzf-zsh-plugin
	url = https://github.com/unixorn/fzf-zsh-plugin
[submodule "cowsay-files"]
	path = cowsay-files
	url = https://github.com/paulkaefer/cowsay-files
