[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule "kitty"]
	path = kitty
	url = https://github.com/dracula/kitty.git
[submodule "rofi/rofi-themes"]
	path = rofi/rofi-themes
	url = https://github.com/davatorium/rofi-themes.git
[submodule "scripts/gitignore"]
	path = scripts/gitignore
	url = https://github.com/github/gitignore
[submodule "spaceship-prompt"]
	path = spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt
