configuration {
    /* Keyboard Shortcuts */

    // need to remove conflicting bindings
    kb-remove-to-eol: "";
    kb-accept-entry: "Return";
    kb-remove-char-forward: "Delete";

    // for my glorious vim binds
    kb-row-up: "Control+k";
    kb-row-down: "Control+j";

    kb-cancel: "Control+d,Escape";

    show-icons: true;
    display-drun: "";
    // matching: "fuzzy";
    sort: true;
    tokenize: true;
    icon-theme: "Papirus";
}

// import themes
// @import "themes/dracula"
@import "themes/squared"
@import "themes/custom"

// set default theme
@theme "themes/custom"
